@import url(fonts/inter.css);

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Inter';
    font-size: 1em;
    margin: 0;
    padding: 1.5em;
    background-color: #F9FEFF;
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 1.5em 0 3em 0;
}

.main-header {
    height: 300px;
    background-image: url(img/main-image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

header form {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 9em;
    box-shadow: 0 26px 30px rgba(0, 0, 0, 0.555);
}

input[type='search'] {
    flex: 1 0 auto;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    height: 60px;
    padding-left: 2em;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 300;
    color: #63737a;
    
}

input[type='search']::placeholder{
    font-size: 24px;
    color: #97AFBA;
    font-family: 'Inter';
    font-weight: 300;
}

.search-form button {
    background-color: white;
    border: none;
    height: 60px;
    border-radius: 0 5px 5px 0;
}

button img {
    display: inline-block;
    padding: 0 1em;
}

main {
    padding-top: 3em;
}

.book-shelf {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

.book {
    /* width: 200px; */
    padding: 2em;
    position: relative;
    background-color: white;
    box-shadow: 0 41px 60px -18px rgba(57, 93, 101, .17);
    border-radius: 5px;
}

.book:hover .delete-btn,
.book:hover .edit-btn {
    opacity: 1;
}

.book div {
    width: 70px;
    height: 100px;
    background-color: #63737a;
    margin: 0 auto;
}

.title {
    font-size: 1.7em;
    font-weight: 500;
    color: #3B5864;
    margin-bottom: 0;
}

.author {
    font-size: 1.2em;
    color: #4F7585;
    margin: 5px 0 20px 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
    color: #4F7585;
    margin-bottom: 0;
}

.info label {
    display: flex;
    align-items: center;
}

.info input {
    margin-right: 5px;
    border-color: #4F7585;
}

.delete-btn {
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
}

.edit-btn {
    width: 32px;
    position: absolute;
    right: 20px;
    top: 60px;
    cursor: pointer;
}

.delete-btn,
.edit-btn {
    opacity: 0;
    transition: opacity .2s ease-in;
}

.add-book {
    background-color: rgb(17, 113, 168);
    color: white;
    font-weight: 200;
    font-size: 5em;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 100px;
    box-shadow: 0 25px 60px rgba(17, 113, 168, .5);
    cursor: pointer;
    transition: transform .3s ease-out, background .3s ease-out;
}

.add-book:hover {
    transform: scale(1.03);
    background-color: rgb(57, 146, 197);
}

.form-div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.form-div form {
    background-color: #F9FEFF;
    width: 30%;
    box-shadow: 0 20px 50px rgba(57, 93, 101, .5);
    padding: 2.5em;
}

.form-div form,
.form-div input[type='text'],
.form-div input[type='number'] {
    border-radius: 5px;
}

.form-div input[type='text'],
.form-div input[type='number'] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px #a7c0ca solid;
    color: #525f66;
    font-size: 14px;
    outline: none;
}

.form-div input[type='text']:focus,
.form-div input[type='number']:focus {
    border: 1px solid #1c99dd;
}

.form-div h2 {
    color: #3B5864;
    text-align: center;
    font-size: 2em;
}

label[for='title'],
label[for='author'],
label[for='pages'] {
    display: inline-block;
    font-size: 1.6em;
    color: #41606d;
    margin-bottom: .5em;
}

.form-div input[type="text"]::placeholder,
.form-div input[type="number"]::placeholder {
    color: #97AFBA;
    font-size: 14px;
}

.add-btn {
    background-color: rgb(17, 113, 168);
    color: white;
    border: none;
    margin-right: .7em;
    margin-top: 2em;
    transition: background .3s ease-out;
}

.add-btn:hover {
    background-color: rgb(68, 152, 201);
}

.cancel-btn {
    background-color: rgb(224, 241, 250);
    color: rgb(17, 113, 168);
    border: 1px solid rgb(17, 113, 168);
    transition: background .3s ease-out;
}

.cancel-btn:hover {
    background-color: rgb(169, 225, 255);
}

.add-btn,
.cancel-btn {
    padding: 1em 2em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.readMark {
    border: 1px solid #1171a8;
}


/* --------- MEDIA QUERIES ------------- */




@media only screen and (max-width: 1024px) {
    .book-shelf {
        width: 80%;
    }

    .add-book {
        right: 30px;
        bottom: 30px;
    }
}

@media only screen and (max-width: 769px) {
    .book-shelf {
        width: 100%;
    }

    .add-book {
        width: 60px;
        height: 60px;
        right: 20px;
        bottom: 30px;
        font-size: 3em;
    }
    
}

@media only screen and (max-width: 568px) {
    .book-shelf {
        width: 100%;
    }

    header form {
        width: 95%;
        padding-top: 5em;
    }

    .main-header {
        height: 170px;
        margin-bottom: 1.5em;
    }
}

@media only screen and (max-width: 481px) {
    .book-shelf {
        width: 100%;
    }

    header form {
        padding-top: 2.5em;
    }

    .add-book {
        width: 60px;
        height: 60px;
        right: 30px;
        bottom: 30px;
        font-size: 3em;
    }
}

@media only screen and (max-width: 414px) {
    body {
        padding: 0;
    }

    main {
        padding-left: 1em;
        padding-right: 1em;
    }

    .main-header {
        height: 120px;
        border-radius: 0 0 5px 5px;
    }

    header form {
        width: 95%;
        margin-top: 11em;
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    }

    input[type='search'] {
        flex: 1 0 auto;
        height: 45px;
        padding-left: 1em;
        font-size: 16px;
    }
    
    input[type='search']::placeholder{
        font-size: 16px;
    }
    
    .search-form button {
        height: 45px;
    }

    .book {
        padding: 1.2em;
    }

    .title {
        font-size: 1.5em;
    }
    
    button img {
        padding: 0 1em;
        width: 50px;
    }

    .book-shelf {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 7px;
    }
}